:root {
    --color-cold: #71D23D;
    --color-cold-light: #ADE98E;
    --color-cold-dark: #3D8914;
    --color-warm: #DF4163;
    --color-warm-light: #EF92A6;
    --color-warm-dark: #911530;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header {
    width: 100%;
    border-bottom: 2px dashed #FFF;
    background-image: url(./images/header.png);
}

#header .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    position: relative;
    display: block;
    margin: 5px auto;
    width: 357px;
    height: 128px;
    background-image: url(./images/logo.png);
    background-position-x: -74px;
}

#headerLogo:after {
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: block;
    width: 72px;
    height: 39px;
    background-image: url(./images/logo2.png);
    content: "";
}

#headerLogo:hover {
    text-decoration: none;
}

#headerLink {
    top: 21px;
    left: calc(50% - 10.5px);
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 378px;
    list-style: none;
    flex-wrap: wrap;
}

#headerLink:after {
    clear: both;
    display: block;
    content: '';
}

#headerLink li {
    float: left;
    height: 43px;
    min-width: 126px;
    background: url(./images/button.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 43px;
    flex: 1 0 0;
}

#content {
    padding: 20px 0;
    width: 100%;
    flex: 1;
}

#content article {
    padding: 10px 0;
}

#references {
    clear: right;
    margin-left: 50%;
    padding-right: 1em;
    max-width: 600px;
    color: #888;
    text-align: right;
}

#references:before {
    content: '参考资料：';
}

#footer {
    display: flex;
    margin: 20px 0 0 0;
    padding: 15px;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0;
    background: url(./images/footer.png) repeat-x;
    flex-wrap: wrap;
}

#footer > div {
    margin: 5px;
    max-width: 100%;
    text-align: center;
    flex: 1 0 auto;
}

#footerCnzz {
    display: none;
}

.num {
    display: inline-block;
    width: 28px;
    height: 32px;
    background-image: url(./images/number.png);
    background-position-x: -480px;
}

.num-0 {
    background-position-x: -2px;
}

.num-1 {
    background-position-x: -34px;
}

.num-2 {
    background-position-x: -66px;
}

.num-3 {
    background-position-x: -98px;
}

.num-4 {
    background-position-x: -130px;
}

.num-5 {
    background-position-x: -162px;
}

.num-6 {
    background-position-x: -194px;
}

.num-7 {
    background-position-x: -226px;
}

.num-8 {
    background-position-x: -258px;
}

.num-9 {
    background-position-x: -290px;
}

.num-x {
    background-position-x: -354px;
}

.num-- {
    background-position-x: -418px;
}

.num-w {
    background-position-x: -450px;
}

#content .infoTable {
    float: right;
    margin-left: 1em;
    width: 40%;
    min-width: 300px;
}

.infoTableTitle {
    font-size: 2em;
    line-height: 1.8em;
}

.infoTable > tbody > tr > th:first-child {
    width: 40%;
    text-align: right;
}

.infoTable > tbody > tr > td:last-child {
    width: 60%;
    text-align: left;
}

.infoTable > tbody > tr > td.infoTableImage {
    text-align: center;
}

.infoTable > tbody > tr > th.infoTableFoot {
    text-align: center;
}

@media screen and (max-width: 600px) {
    #content .infoTable {
        float: none;
    }
}